.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}
.roosters_list ion-list-header {
  padding:0;
}
.roosters_list ion-list-header ion-col {
  font-weight: 700;
}
.roosters_list ion-row {
  align-items: center;
}
.roosters_list ion-col {
  text-align: center;
}
.roosters_list ion-item {
  --inner-padding-end: 0;
  --padding-start: 0;
}
.roosters_list .rooster_id {
  font-size:20px;
  font-weight: 700;
}
.roosters_list .rooster_initials {
  font-size:16px;
  font-weight:700;
}
.roosters_list .rooster_estado {
  font-size:12px;
  font-weight:700;
}
.roosters_list ion-chip ion-label {
  font-weight:bold;
}
.rooster_estado.status_in_farm {
  color:var(--ion-color-black);
}
.rooster_estado.status_sold {
  color:var(--ion-color-green);
}
.rooster_estado.status_lend {
  color:var(--ion-color-yellow);
}
.rooster_estado.status_gifted {
  color:var(--ion-color-purple);
}
.rooster_estado.status_dead {
  color:var(--ion-color-red);
}
.rooster_notes ion-col{
  text-align:left;
}
.no_records {
  text-align:center;
  font-weight:700;
}
.color_folders {
  height:60px;
}
.color_folders ion-segment-button {
  flex:initial;
  align-items: center;
  --padding-start: 5px;
  --padding-end: 5px;
}
.color_folders .segment-button-checked ion-chip {
  font-weight:700;
}
.color_folders_title {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
